.container-mainInfo {
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;

    border: 1px solid grey;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .mainInfo-radio {
        padding: 10px;

        h6 {
            font-size: 20px;
            font-weight: 500;
        }

        label {
            line-height: 20px;
            font-size: 16px;
            font-weight: 500;
            padding: 10px;

            input {
                margin-right: 10px
            }

            ;
        }
    }

    .mainInfo-build-properties {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 10px;
        width: 100%;

        label {
            width: 23.5%;
            font-size: 20px;
            font-weight: 500;
        }

        input {
            font-size: 16px;
            width: 25%;
            height: 40px
        }
    }

    .mainInfo-build-details {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .develop-details {
            display: flex;
            justify-content: left;
            text-align: left;
            gap: 20px;
            width: 100%;
            padding: 10px;

            label {
                font-size: 20px;
                font-weight: 500;
                width: 20%;
            }

            input {
                width: 30%;
            }
        }

        .info-location {

            .info-location-details {
                display: flex;
                justify-content: left;
                padding: 10px;
                row-gap: 10px;
                flex-wrap: wrap;

                label {
                    font-size: 20px;
                    font-weight: 500;
                    width: 20%;
                }

                input {
                    font-size: 20px;
                    width: 30%;
                }
            }

            .info-map-location {
                margin-top: 10px;

                label {
                    width: 100%;
                }

                textarea {
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
}